<div class="h-screen z-20">
    <div class="h-full flex flex-col pt-16">
        <div class="flex justify-center">
            <img src="../../assets/logos/Untitled_Artwork_8.png" alt="logo" class="h-[30rem]">
        </div>
        <div class="flex justify-center">
            <div>
                <button class="py-3 px-8 bg-off-white text-3xl rounded-2xl border-[6px] border-off-black uppercase font-bold hover:bg-off-white-hover ease-in-out duration-200"
                    (click)="createLobby()">Create Lobby</button>
            </div>
        </div>
    </div>
</div>