<div class="flex justify-center">
    <div class="px-2 relative">
        <img src="../../../assets/cards/Card_2.png" alt="crumpled card"
            class="max-h-[30rem] objcet-contain">
        <div class="flex flex-col justify-between p-20 pb-24 absolute text-off-black uppercase top-4 h-full bg-teal-300 text-2xl">
            <span>For this part, enter a hypothetical question starting with the words “What would you do if”. Make it as silly or as serious as you want. Be creative! :D</span>
            <span>Ex) “What would you do if… the sky was falling?”</span>
        </div>
    </div>
</div>